html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 200px;
  height: 100px;
  border: 3px #ccc dashed;
  margin: 10px;
  border-radius: 45%;
  background-color: #eee;
}

div.blue {
  background-color: blue;
}

div.green {
  background-color: green;
}

div.pink {
  background-color: pink;
}

.invisible {
  display: none;
}

.visible {
  display: block;
  border: 3px black dashed;
  border-radius: 0;
  background-color: #95c3a6;
}
